
#logpanel,#regpanel{
    display: none;
}

.MainPage{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 60vw;
    box-shadow: 2px 2px 4px #000000;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
}
.greet{
    margin-top: 20pt;
    margin-left: 20pt;
    font-size: 18pt;
}





